*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav a{
    color: white;
    margin-left: 12px;
    text-decoration: none;
}
nav a:hover{
    color: #20d410;
}
.signOut-button{
    border: none;
    color: white;
    background-color: #0D6EFD;
    margin-left: 12px;
}

@media screen and (max-width: 576px){
    nav a{
        margin-left: 5px;
    }
}