form{
    width: 45vw;
}
.agree{
    font-size: .9em;
    color: blue;
    transition: ease-in-out .2s;
}
.notAgree{
    font-size: .8em;
    color: grey;
    transition: ease-in-out .2s;
}
@media screen and (max-width: 768px) {
    form{
        width: 60vw;
    }
}
    
@media screen and (max-width: 576px) {
    form{
        width: 70vw;
    }
}
    
