
.header{
    background-image: url(../../../public/banner.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.header-text{
    color: rgb(131, 77, 202);

}
.header-text h1{
    color:rgb(253, 250, 251);
    font-size:3rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.package-heading{
    margin-top: 60px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
}
.card-section{
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.card-div{
    border: none;
    height: 100%;
    position: relative;
}

.card-div p{
    margin: 0;
    text-align: start;
}
.card-div span{
    font-weight: 700;
}
.card-div h5{
    margin: 10px auto;
    font-weight: 700;
}
.img-div{
    width: 100%;
    margin: 0;
}
.card-img{
    width: 100%;
    margin: 4px auto;
    border-radius: 5px;
}
.description{
    padding-bottom:65px;
    
}
.checkout-button{
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fitness-structure{
    margin-top: 60px;
    
}
.fitness-structure h3{
    margin: 60px auto;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 1.4rem;
}
.all-pillers div{
    margin-bottom: 30px;
}

.footer{
    color: white;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}



@media screen and (max-width: 768px){
    
    .header{
        height: 300px;
    }
    .header-text h1{
        font-size:2.5rem;

    }
    
}
@media screen and (max-width: 576px){
    .header{
        height: 280px;
    }
    .header-text h1{
        font-size:2rem;

    }
    nav a{
        margin-left: 5px;
    }
}